.carousel-item1 {
  height: 100vh;
  background-position: center;
  background-image: url('/public/carrusel2.png');
  background-size: cover;
}
  .carousel-item2 {
    height: 100vh;
    background-position: center;
    background-image: url('/public/carrusel2.png');
    background-size: cover;
   background-position: initial;
  }


  img{
    background-position: fixed;
  }

  .pagoinfoSection{
    display:flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-position: center;
    background-image: url('../public/fondoblanco1.jpg');
    background-size: cover;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5); /* Fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .carousel-caption {
    margin-top: 300px;
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(76, 70, 70, 0.7);
    border-radius: 5px;
  }
  .eventsSection{
    padding: 3em;  
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
     margin-bottom: 5em; 
  }

  .eventos{
    text-align: center;
    margin-left: 3em;
  }

  @media (max-width: 768px) {
    .carousel-item1 {
      height: 65vh;
    }
    .carousel-item2 {
      height: 65vh;
      background-image: url('/public/carrusel2md.png');
    }

    .carousel-caption {
      margin-top: 100px;
    }

    .eventsSection{  
      justify-content: center;
    }   

    .eventos{
      margin-left: 0;
    }
  } 