.section {
   height: 100%; /* Altura de la ventana visible */
   overflow: hidden;
   top: 0;
   left: 0;

   background-position: center;
   background-image: url('../../../public/fondoblanco2.jpg');
   background-size: cover;
 /*   will-change: transform;  Optimiza el rendimiento */



    padding: 5em;
    display: flex;
    flex-direction: row; /* Por defecto, horizontal */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
    justify-content: center;
  }



  .element {
    display: flex;
    flex: 1;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  .tittle{
    font-size: 3.5em;
    color: rgb(0, 0, 141);
    font-family: 'Tinos';
    margin-bottom: 0%;
  }

  .text{
    color: rgb(82, 75, 75);
    font-family: Noto, serif;
    font-size: 1.2em;
  }

/*SIMPLESECTION---------------------------------------------------------------------------------------------------------------------------------*/

.simpleSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTittle{
    color:#ff0000;
    font-size: 1.5em;
    font-family: 'Tinos';
}

@media (max-width: 768px) {
    .section {
    padding: 3em;
      flex-direction: column; /* Cambiar a vertical */
    }

    .element {
     margin: 0px;
      width: 100%; /* Ocupar todo el ancho disponible */
    }

    .tittle{
        font-size: 2em;
      }

    .text{
        font-size: .7em;
    }
/*SIMPLESECTION---------------------------------------------------------------------------------------------------------------------------------*/
    
.subTittle{
font-size: .8em;
}
}
